@font-face {
	font-family: 'icomoon';
	src: url("/assets/fontface/icomoon.eot?5ayyas");
	src: url("/assets/fontface/icomoon.eot?#iefix5ayyas") format("embedded-opentype"), url("/assets/fontface/icomoon.woff?5ayyas") format("woff"), url("/assets/fontface/icomoon.ttf?5ayyas") format("truetype"), url("/assets/fontface/icomoon.svg?5ayyas#icomoon") format("svg");
	font-weight: normal;
	font-style: normal
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-portfolio:before {
	content: "\e600"
}
.icon-archives:before {
	content: "\e601"
}
.icon-github:before {
	content: "\e602"
}
.icon-twitter:before {
	content: "\e603"
}
.icon-linkedin:before {
	content: "\e604"
}